*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.eu{
    width: 170px;
    margin-bottom: 90px;
}

body{
    /* background-image: url('/assets/bg-contador.png');  */
    background-color: #0D0D0D;
    /* background-image: url('./bg-contador.png'); */
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(128, 162, 255);
    font-family: 'Montserrat', sans-serif;
    /* user-select: none; */
}
.normal{
    background-color: #ffff;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #00000080;
}

h3{
    font-size: 20px;
    color: yellow;
}
.title {
    font-size: calc(10px + 3vw);
}

.title p {
    font-size: calc(10px + 1vw);
    color: yellow;
}

.countdown{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1{
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 10px  whitesmoke;
}

.button{
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: solid 2px whitesmoke;
}

.button:hover {
    background-color: black;
    color: whitesmoke;
}

header{
    background-color: #1A1A1A;
    height: 40px;
    color: #B3B3B3;
    text-align: end;
    padding: 10px;
    
}

footer{
    background-color: #1A1A1A;
    height: 20px;
}
